/* CardComponent.css */
.custom-card {
    background-color: #f1f1f1; /* Gray background color */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    max-width: 400px;
    margin: 1rem;
    overflow-x: scroll;
    height: 70vh;
    color: #333; /* Darker text color for contrast */
}

/* ChatScreen.css */
.chat-screen {
    display: flex;
    flex-direction: column;
    height: 70vh;
    padding: 1rem;
    background-color: #f1f1f1; /* Light background for the chat screen */
    overflow-y: auto;
    width: 100%;
}

/* ChatCard.css */
.chat-card {
    display: flex;
    align-items: flex-start;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    background-color: #e0e0e0; /* Default background for messages */
    max-width: 70%;
    position: relative;
}

.chat-card.sent {
    background-color: #90cdf5; /* Color for sent messages */
    align-self: flex-end;
}

.chat-card.received {
    background-color: #ffffff; /* Color for received messages */
}

.chat-card .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.75rem;
}

.chat-card .card-content {
    flex: 1;
}

.chat-card .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.25rem;
}

.chat-card .card-name {
    font-weight: bold;
}

.chat-card .card-time {
    font-size: 0.75rem;
    color: #777;
}

.chat-card .card-description {
    margin: 0;
    line-height: 1.5;
}

/*end*/




.card-title {
    margin-bottom: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}

.conversations {
    margin-top: 1rem;
}

.conversation-item {
    display: flex;
    align-items: center;
    background-color: #e0e0e0; /* Light gray background for items */
    border-radius: 6px;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s;
}

.conversation-item.active {
    background-color: #b0b0b0; /* Darker gray for active conversation */
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 0.75rem;
}

.conversation-details {
    display: flex;
    flex-direction: column;
}
